mat-card {
  max-height: 45em;
  background-color: transparent;
  margin-bottom: 1rem;

  .image-container {
    border: 1px solid;
    max-height: 55em;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: grab;
    user-select: none;
  }

  .image-container:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
