<mat-card>
  <div class="statistic-group">
    <span>Quantidade de movimentos</span>
    <span>{{ data.movimentosCount || '-' }}</span>
  </div>
  <mat-divider *ngIf="getScreenWidth > 800" vertical></mat-divider>
  <div class="statistic-group">
    <span>Quantidade de processos</span>
    <span>{{ data.casesCount || '-' }}</span>
  </div>
  <mat-divider *ngIf="getScreenWidth > 800" vertical></mat-divider>
  <div class="statistic-group">
    <span>Média de duração de movimentos</span>
    <span>{{ data.avgMovimentoDuration | durationTimeBySeconds }}</span>
  </div>
  <mat-divider *ngIf="getScreenWidth > 800" vertical></mat-divider>
  <div class="statistic-group">
    <span>Média de duração dos processos</span>
    <span>{{ data.avgCaseDuration | durationTimeBySeconds }}</span>
  </div>
  <mat-divider *ngIf="getScreenWidth > 800" vertical></mat-divider>
  <div class="statistic-group">
    <span>Média de movimento por processo</span>
    <span>{{ data.avgMovimentosPerCase || 0 | number: '1.0-2' }}</span>
  </div>
</mat-card>
